<div class="header">
    <div class="nav-container">
        <a href="../index.html" class="logo">
            <img src="../assets/images/Logo.png" alt="NourishNet Logo">
        </a>
        <nav>
            <ul class="nav-links">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../pages/donation/donation.html">Donate Food</a></li>
                <li><a href="../pages/community-kitchen/community.html">Community Kitchens</a></li>
                <li><a href="../pages/dashboard/dashboard.html">Dashboard</a></li>
                <li><a href="../pages/farm-to-table/farm.html">Farm to Table</a></li>
                <li><a href="../pages/zero-waste/zero.html">Zero Waste</a></li>
                <li><a href="../pages/learn-act/learn.html">Learn & Act</a></li>
            </ul>
        </nav>
    </div>
</div>

